.wrapper {
  padding-top: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/* .grabber {
} */

.wrapper h3 {
  margin: 0.2rem;
  padding-right: 4px;
  text-align: center;
}

.wrapper img {
  width: 60px;
}
