.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  margin-bottom: -1.8px;
}

.wrapper:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.icon {
  border-radius: 2rem;
  background: orange;
  width: 4rem;
  height: 4rem;
}

.wrapper h3 {
  margin: 0.5rem;
  padding-right: 4px;
  text-align: center;
}
