.container {
  background-color: gray;
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  z-index: 1;
}

.header {
  height: 2rem;
  cursor: grab;
  user-select: none;
  background-color: red;
  display: flex;
}

.window h3 {
  background-color: greenyellow;
  margin: 0 auto;
}

.close {
  /**/
}

.spacer {
  width: 100%;
  background-color: pink;
}

.innerWrapper {
  height: 200px;
  width: 400px;
  background-color: green;
}
