@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

a {
  text-decoration: none;
  color: #3d3d3d;
}

a:hover {
  text-decoration: none;
}

.desktop {
  height: 100vh;
  padding: 4rem;
  box-sizing: border-box;
  background-image: url('../../img/Desktop.png');
  background-size: cover;
  font-family: 'Inter', sans-serif;
  font-size: 0.75rem;
  color: #3d3d3d;

  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.iconRoot {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 112px);
  grid-template-rows: repeat(auto-fill, 108px);
  grid-auto-flow: column;
}
